/* 초기화 */
*{
   margin: 0 auto; padding: 0;
   font-family: 'PyeongChangPeace-Light';
   box-sizing: border-box;
}
@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'PyeongChangPeace-Light';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

/* wrap */

/* header */
#wrap header .title{
    text-align: center;
    margin-top: 30px;
    font-size: 70px;
    font-family: 'PyeongChangPeace-Bold';
    font-weight: 300;
    margin: 5px 0px -5px 0px;
}
header {
    padding-bottom: 20px;
    border-bottom: 1px solid black;
    font-family: 'PyeongChangPeace-Light';
    text-align: center;
}

/* menu */
#wrap #menu{
    font-family: 'PyeongChangPeace-Light';
    font-size: 20px;
    width: 600px;
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}
#wrap #menu a{
    position: relative;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 20px;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 10px 10px 10px 10px;
}
#wrap #menu a:hover{
    color: white;
    background: black;
    /* box-shadow: 0 0 30px #feeab3, 0 0 40px #fedbb7, 0 0 50px #ff8bb2, 0 0 60px #825acf; */
    transition-delay: 1s;
}
#wrap #menu a span{
    position: absolute;
    display: block;
 }
 #wrap #menu a span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #feeab3);
 }
 #wrap #menu a:hover span:nth-child(1){
    left: 100%;
    transition: 1s; 
 }
 #wrap #menu a span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #ff8bb2);
 }
 #wrap #menu a:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
 }
 #wrap #menu a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #fedbb7);
 }
 #wrap #menu a:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
 }
 #wrap #menu a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #825acf);
 }
 #wrap #menu a:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
 }
 
/* clock */
#wrap #content .clock{
   display: flex;
   justify-content: center;
   align-items: center;
   background: #acbcca;
   position: relative;
   width: 450px;
   height: 550px;
   border-radius: 50px;
   border-top-left-radius: 250px;
   border-top-right-radius: 250px;
   box-shadow: 45px 45px 45px -15px rgba(0, 0, 0, 0.15),
   inset 15px 15px 10px rgba(255, 255, 255, 0.75),
   -15px -15px 35px rgba(255, 255, 255, 0.55),
   inset -2px -2px 15px rgba(0, 0, 0, 0.2);
}
#wrap #content .clock .numbers{
   position: absolute;
   top: 30px;
   width: 390px;
   height: 390px;
   background: #152b4a;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   box-shadow: 7px 7px 22px #152b4a66,
   inset 7px 7px 7px rgba(255, 255, 255, 0.55),
   -9px -9px 15px rgba(255, 255, 255, 1);
}
#wrap #content .clock .numbers::before{
   content: '';
   position: absolute;
   width: 4px;
   height: 4px;
   border-radius: 50%;
   background: #e91e63;
   z-index: 100000;
   box-shadow: 0 0 0 1px #e91e63,
   0 0 0 3px #fff,
   0 0 5px 5px rgba(0, 0, 0, 0.15);
}
#wrap #content .clock .numbers span{
   position: absolute;
   inset: 15px;
   text-align: center;
   color: white;
   font-size: 1.25em;
   transform: rotate(calc(30deg * var(--i)));
}
#wrap #content .clock .numbers span b{
   font-weight: 400;
   display: inline-block;
   transform: rotate(calc(-30deg * var(--i)));
}
#wrap #content .clock .numbers .circle{
   position: absolute;
   width: 280px;
   height: 280px;
   border: 1px solid rgba(0, 0, 0, 0.75);
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: flex-start;
}
#wrap #content .clock .numbers .circle i{
   position: absolute;
   width: 6px;
   height: 50%;
   background: var(--clr);
   opacity: 0.75;
   transform-origin: bottom;
   transform: scaleY(0.5);
}
#wrap #content .clock .numbers .circle#sec i{
   width: 2px;
}
#wrap #content .clock .numbers .circle#min i{
   width: 4px;
}
#wrap #content .clock .numbers .circle#min{
   width: 230px;
   height: 230px;
}
#wrap #content .clock .numbers .circle#hrs{
   width: 180px;
   height: 180px;
}
#wrap #content .clock .numbers .circle::before{
   content: '';
   position: absolute;
   top: -6px;
   left: 50%;
   width: 10px;
   height: 10px;
   background: var(--clr);
   border-radius: 50%;
   transform: translateX(-50%);
   box-shadow: 0 0 20px var(--clr),
   0 0 60px var(--clr);
}